@font-face {
  font-family: "aduma-light";
  src: url(./fonts/AdumaLight.ttf);
}

@font-face {
  font-family: "aduma-medium";
  src: url(./fonts/AdumaMedium.ttf);
}

@font-face {
  font-family: "aduma-regular";
  src: url(./fonts/AdumaRegular.ttf);
}

@font-face {
  font-family: "aduma-bold";
  src: url(./fonts/AdumaBold.ttf);
}

/* blob color changes animations */
@-webkit-keyframes pupilsAnimation {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(-28deg);
  }
}

@keyframes pupilsAnimation {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(-28deg);
  }
}

@-webkit-keyframes higherAnimation {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(250deg);
  }
}

@keyframes higherAnimation {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(250deg);
  }
}

@-webkit-keyframes courseAnimation {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(170deg);
  }
}

@keyframes courseAnimation {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(170deg);
  }
}

@-webkit-keyframes physicalAnimation {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(100deg);
  }
}

@keyframes physicalAnimation {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(100deg);
  }
}

@-webkit-keyframes hierarchyGlassesAnimation {
  0% {
    filter: hue-rotate(0deg) brightness(1);
  }
  100% {
    filter: hue-rotate(60deg) brightness(1.15);
  }
}

@keyframes hierarchyGlassesAnimation {
  0% {
    filter: hue-rotate(0deg) brightness(1);
  }
  100% {
    filter: hue-rotate(60deg) brightness(1.15);
  }
}

@keyframes hierarchyAdditionalAnimation {
  0% {
    filter: hue-rotate(0deg) brightness(1);
  }
  100% {
    filter: hue-rotate(60deg) brightness(1.3);
  }
}

@-webkit-keyframes popupFadeOut {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(30px) scale(0.97);
  }
}

@keyframes popupFadeOut {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(30px) scale(0.97);
  }
}

@keyframes popupAnimation {
  0% {
    opacity: 0;
    transform: translateY(30px); /* start lower */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* end in place */
  }
}

@-webkit-keyframes hueReset {
  0% {
    filter: inherit;
  }
  100% {
    filter: hue-rotate(0deg);
  }
}

@keyframes hueReset {
  0% {
    filter: inherit;
  }
  100% {
    filter: hue-rotate(0deg);
  }
}

/* variables */
:root {
  --textcolor: #4e3028;
  --titlesize: 4rem;
  --hugetitlesize: 6rem;
  --textsize: 2rem;
  --subtitlesize: 2.5rem;
  --subtititlefont: "aduma-bold";
}

* {
  margin: 0;
  padding: 0;
  direction: rtl;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  color: var(--textcolor);
}

.all-pages {
  position: relative;
  height: 300vh;
  width: 100%;
  background-image: url("./assets/crollingBg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.first-page,
.second-page,
.third-page {
  height: 100vh;
  width: 100%;
}

.blob {
  position: absolute;
  width: 170%;
}

#lower-blob {
  bottom: -30vh;
  left: -40vw;
  transform: rotate(-5deg);
  z-index: 2;
}

#higher-blob {
  bottom: -25vh;
  left: -50vw;
  transform: rotate(-15deg);
  z-index: 3;
}

#plus-sign {
  position: absolute;
  width: 10vw;
  right: 20vw;
  bottom: 20vh;
  z-index: 1;
}

#stripped-circle {
  position: absolute;
  width: 60vw;
  bottom: 20vh;
  left: 1vw;
  z-index: 1;
}

/* first page */

.school-logo {
  position: absolute;
  top: 2vh;
  right: 1vw;
}

.big-five {
  position: absolute;
  right: 4vw;
  top: 30vh;
}

.first-page-text {
  position: absolute;
  font-family: "aduma-light";
}

#lomdat {
  right: 5vw;
  top: 20vh;
  font-size: 4rem;
}

#memadei {
  font-size: 6rem;
  right: 32%;
  top: 35vh;
}

#hadracha {
  font-size: 6rem;
  right: 37%;
  top: 45vh;
}

.arrow-down {
  height: 10vh;
  left: 50%;
  transform: translate(-50%);
  top: 75vh;
  position: absolute;
}

/* second page  */

.second-page {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: min(4vh, 6vh);
}

.second-page-title {
  font-family: "aduma-bold";
  font-size: var(--titlesize);
  margin-right: 5vh;
}

.second-page-text {
  line-height: 1.5rem;
  align-self: center;
  width: 90%;
  text-align: center;
  font-family: "aduma-regular";
  font-size: var(--textsize);
}

.sub-title {
  align-self: center;
  font-family: var(--subtititlefont);
  font-size: var(--subtitlesize);
}

.training-dimension {
  height: 7.5vh;
}

.all-training-dimensions {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1vh 1vw;
}

.second-arrow {
  top: 185vh;
}

/* third page */

.third-page-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.third-page-header {
  margin-right: 5vw;
  display: flex;
  flex-direction: column;
}

.third-page-title {
  line-height: 5.5rem;
  font-family: "aduma-bold";
  font-size: var(--hugetitlesize);
}

.third-page-text {
  font-family: "aduma-regular";
  font-size: var(--textsize);
}

.all-glasses {
  align-self: center;
  z-index: 5;
  width: 80%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 5vw;
  margin-top: 5vh;
}

.glasses {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.glasses-name {
  font-family: "aduma-regular";
  font-size: var(--textsize);
}



/* blobs */

.pupils-glasses {
  --hue: -28deg;
  animation: pupilsAnimation 5s forwards;
}

.higher-glasses {
  --hue: 250deg;
  animation: higherAnimation 2s forwards;
}

.course-glasses {
  --hue: 170deg;
  animation: courseAnimation 2s forwards;
}

.physical-glasses {
  --hue: 100deg;
  animation: physicalAnimation 2s forwards;
}

.hierarchy-glasses {
  --hue: 60deg;
  animation: hierarchyGlassesAnimation 2s forwards;
}

.plus-sign.hierarchy-glasses {
  --hue: 60deg;
  animation: hierarchyAdditionalAnimation 2s forwards;
}

.stripped-circle.hierarchy-glasses {
  --hue: 60deg;
  animation: hierarchyAdditionalAnimation 2s forwards;
}

/* popup */
.popup-content.closing {
  animation: popupFadeOut 0.4s ease-in forwards;
}

.popup-page {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  text-align: center;
}

.popup-page-title {
  font-family: "aduma-medium";
  font-size: var(--titlesize);
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 80%;
  height: auto;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.44);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.6px);
  -webkit-backdrop-filter: blur(3.6px);
  border: 1px solid rgba(255, 255, 255, 0.09);
  padding: 1vh 2vw;
  animation: popupAnimation 1s;
}

.popup-text {
  font-family: "aduma-regular";
  font-size: var(--textsize);
}

.popup-subtitles {
  font-family: "aduma-bold";
  font-size: var(--textsize);
}

ul {
  list-style: none;
}

/* different popup background colors */

.pupils-glasses-background {
  background-color: #ecc7c77f;
}

.higher-glasses-background {
  background-color: #c6ceee7d;
}

.course-glasses-background {
  background-color: #c7ebdb81;
}

.physical-glasses-background {
  background-color: #c0e6ac7f;
}

.hierarchy-glasses-background {
  background-color: #f4edb280;
}

.close-popup{
  margin-top: 1vh;
  border: none;
  background-color: white;
  border-radius: 1rem;
  padding: 1vh 5vw;
}

/* exercise */

.glass-page-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


#exercise-btn{
  margin-top: 2vh;
  z-index: 10;
}